<article class = "container text-justify">
  <section class = "row">
    <div class = "col-12">
      <h1>Seguridad electrónica</h1>
      <hr class = "linea_titulo">
      <p>
        Confíe la seguridad a los expertos, cámaras integradas a soluciones de 
        software potentes le darán información en tiempo real disparando alertas 
        o realizando algoritmos en crisis o eventos.                  
      </p>

      <p>
        Desarrollamos proyectos de seguridad electrónica con soluciones de alta 
        tecnología, enfocadas en implementación de sistemas de Video Vigilancia.
        Esta línea de negocios es desarrollada por personal altamente calificado 
        y especializado en Sistemas de seguridad, brindando a nuestros clientes 
        soluciones que satisfagan sus necesidades, optimalizando costos, tiempo 
        y recursos en:
      </p>

      <ul>
        <li>Diagnóstico.</li>
        <li>Diseño.</li>
        <li>Ingeniería.</li>
        <li>Desarrollo.</li>
        <li>Administración de proyectos de seguridad electrónica.</li>
      </ul>
    </div>
  </section>
  
  <app-ficha-solucion-uno></app-ficha-solucion-uno>
</article>