<article class = "container text-justify">
  <section class = "row">
    <div class = "col-12">
      <h1>Seguridad electrónica</h1>
      <hr class = "linea_titulo">
      <p>
        Confíe la seguridad a los expertos, cámaras integradas a soluciones de 
        software potentes le darán información en tiempo real disparando alertas 
        o realizando algoritmos en crisis o eventos.                  
      </p>
    </div>
  </section>
  
  <app-ficha-solucion-uno></app-ficha-solucion-uno>
</article>