<div class = "container-fluid">
    <div id = "encabezado_de_la_pagina" class = "row p-0">
        <div class = "col-12 p-0">
            <app-encabezado></app-encabezado>
        </div>
    </div>

    <div id = "cuerpo_de_la_pagina" class = "row p-0">
        <div class = "col-12 p-0">
            <app-cuerpo></app-cuerpo>
        </div>
    </div>

    <div id = "pie_de_la_pagina" class = "row p-0">
        <div class = "col-12 p-0">
            <app-pie></app-pie>
        </div>
    </div>
</div>