footer {
    background-color: #f8f9fa;
    color: gray;
    padding-bottom: 20px;
    padding-top: 20px;
}

h4 {
    color: #97c93e !important;
}

hr {
    background-color: #97c93e !important;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #97c93e;
}

a:hover {
    text-decoration: none;
    color: #97c93e;
}

#logo {
    width: 30%;
	height: 70px;
}

#logo img {
    height: 70px;
}

.red_social {
    font-size: 35px;
    color: #97c93e;
    text-align: center;
}