<footer class = "col-12 text-center">
    <div class = "container-fluid">
        <div class = "row">
            <div class = "col-lg-6 col-sm-6">
                <div class = "container">
                    <div class = "row">
                        <div class = "col">
                            <h4>Soporte técnico</h4>
                        </div>
                    </div>

                    <div class = "row">
                        <div class = "col-lg-4 col-sm-12">
                            <p>+504 2281-0892</p>
                        </div>

                        <div class = "col-lg-4 col-sm-12">
                            <p>+504 3258-4666</p>
                        </div>

                        <div class = "col-lg-4 col-sm-12">
                            <p>+504 3258-7307</p>
                        </div>
                    </div>

                    <div class = "row">
                        <div class = "col">
                            <div class = "divider col-sm-12"></div>
                        </div>
                    </div>

                    <div class = "row">
                        <div class = "col-12 col-lg-6">
                            <p>sac@oficinastecnologicas.com</p>
                        </div>

                        <div class = "col-12 col-lg-6">
                            <p>soporte@oficinastecnologicas.com</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class = "col-lg-6 col-sm-6">
                <div class = "container text-center">
                    <div class = "row">
                        <div class = "col">
                            <h4>Ventas</h4>
                        </div>
                    </div>

                    <div class = "row">
                        <div class = "col-lg-6 col-sm-12">
                            <p>+504 3182-1202</p>
                        </div>

                        <div class = "col-lg-6 col-sm-12">
                            <p>+504 3258-5735</p>
                        </div>
                    </div>

                    <div class = "row">
                        <div class = "col">
                            <div class = "divider col-sm-12"></div>
                        </div>
                    </div>

                    <div class = "row">
                        <div class = "col-12">
                            <p>info@oficinastecnologicas.com</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class = "col-12">
                <h4><a [routerLink]="['/contacto']">Contáctanos</a></h4>
            </div>
        </div>

        <div class = "row">
            <div class = "col">
                <hr>
            </div>
        </div>

        <div class = "row text-center">
            <div class = "col-lg-2 col-sm-12">
                <a id = "logo" href="">
                    <img src="../../../../assets/imagenes/logo.PNG" alt="">
                </a>
            </div>

            <div class = "col-lg-5 text-left col-sm-12 text-center">
                <div class = "container-fluid">
                    <div class = "row">
                        <div class = "col-12 text-lg-left">
                            <p>Un objetivo, una pásión... tu documentación</p>
                        </div>

                        <div class = "col-12 text-lg-left">
                            <p>Todos los derechos reservados © 2018.</p>                            
                        </div>
                    </div>
                </div>
            </div>

            <div class = "col-lg-5 col-sm-12">
                <div class = "container">
                    <div class = "row">
                        <div class = "col">
                            <p>Síguenos en nuestras redes sociales:</p>
                        </div>
                    </div>

                    <div class = "row">
                        <div class = "col">
                            <a class = "red_social text-middle" href="https://www.facebook.com/OficinasTecnologicasHN/">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </div>

                        <div class = "col">
                            <a class = "red_social text-middle" href="https://www.instagram.com/oficinastecnologicashn/">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>

                        <div class = "col">
                            <a class = "red_social text-middle" href="https://twitter.com/OficinasTecno">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>

                        <div class = "col">
                            <a class = "red_social text-middle" href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
