<div class = "container-fluid">
  <div class = "row">
    <div class = "col-lg-12">
      <form id = "contactanos" class = "col-sm-10 col-lg-7 mx-auto" action="../../../assets/enviar.php" method="post">
        <fieldset>
          <div class = "row">
            <legend class = "col-lg-12">Formulario de contacto</legend>
          
            <div class = "col-12 col-md-6 col-lg-6">
              <label>Nombre</label>
                <input id = "nombre" class = "form-control" type="text" name="nombre" placeholder="Nombre">
            </div>

            <div class = "col-12 col-md-6 col-lg-6">
              <label>Teléfono</label>
                <input id = "telefono" class = "form-control" type="tel" name="telefono" placeholder="Teléfono">
            </div>

            <div class = "col-12">
              <label>Correo electrónico</label>
                <input id = "email" class = "form-control" type = "email" name="email" placeholder="E-mail">
            </div>

            <div class = "col-12">
              <label>Asunto</label>
                <input id = "asunto" class = "form-control" type = "text" name="asunto" placeholder="Asunto">
            </div>

            <div class = "col-12">
              <label>Mensaje</label>
                <textarea id = "mensaje" class = "form-control" type = "text" name="mensaje" placeholder="Comentarios"></textarea>
            </div>

            <div class = "col-12 col-lg-8 mt-4 mb-4">
              <div id = "recaptcha">    
                <div class="g-recaptcha mx-0" data-sitekey="6LcWhnoUAAAAAMKcGBDesPQu---VQLZ-8NxkW3mf"></div>
              </div>
            </div>
          
            <div class = "col-12">
              <button class = "btn btn-success mt-2" type = "submit" name = "submit">Enviar</button>
            </div>
          </div>  
        </fieldset>
      </form>
    </div>
  </div>
</div>