<section class = "row">
  <div class = "col-12">
    <div class="alert alert-info" role="alert">
      <p>
        Nuestro equipo de Ingenieros y Consultores tomaran su requerimiento y diseñaran una 
        solución de cumpla con el requerimiento técnico y que financieramente se adapte a 
        su institución.
      </p>
  
      <p>
        ¿Por qué tomar esta opción como un servicio?
      </p>
  
      <ul>
        <li>Es un gasto operativo deducible del Impuesto Sobre la Renta (ISR).</li>
        <li>No hay inversión inicial.</li>
        <li>No hay inversión en servidores o software.</li>
        <li>La renovación tecnológica continua.</li>
        <li>Su equipo de trabajo se enfoca en la visión de la empresa y no desatiende.</li>
        <li>No hay pago por actualizaciones.</li>
        <li>OFICINAS TECNOLOGICAS respalda la operatividad de este servicio con recurso humano capacitado y certificado.</li>
      </ul>
  
      <p id = "contacto">CONTÁCTANOS Y PIDE QUE UN CONSULTOR LE VISITE.</p>
  
      <a class = "btn btn-primary" [routerLink]="['/contacto']">Contáctanos</a>
    </div>
  </div>
</section>
