#logo {
	height: 70px;
}

#logo img {
    height: 70px;
}

li {
    cursor: pointer;
}

#contactanos {
    color: #97c93e !important;
    font-weight: bold;
}

::ng-deep .mat-menu-panel {
    max-width: 365px !important;
}