<article class = "container text-justify">
    <section class = "row">
      <div class = "col-12">
        <div class = "imagen">
          <img class = "img-fluid" src="../../../../assets/imagenes/Soluciones/Smartoffice/smartoffice.png" alt="">
        </div>

        <h1>SmartOffice</h1>
        <hr class = "linea_titulo">
        <p>
          En resumen es la integración de IMPRESIÓN COMO SERVICIO + SOLUSIONES DE NEGOCIOS 
          COMO SERVICIO.
          Las PYMES tienen acceso a toda la gama de servicios de OFICINAS TECNOLOGICAS en 
          una FACTURA UNICA que se adapta al cliente y podrá ir escalando según lo demande.                
        </p>
  
        <p>
          Con SMARTOFFICE las empresas se tecnifican sin una inversión millonaria, tendrán 
          equipo de punta en impresión, telefonía SIP, seguridad electrónica, software empresarial 
          (Contabilidad, RR HH, etc.) y más SOLUCIONES en una FACTURA ÚNICA MENSUAL, 
          sin INVERSION INICIAL.
        </p>
  
        <p>
          Deja de vivir en la era del jurásico, comienza a vivir la experiencia del SMART. 
          Contrata SMART OFFICE para tu oficina, un servicio especializado según las condiciones 
          tu negocio, adaptando el precio a tus necesidades.     
        </p>

        <p>
          ¿Qué esperas? Hazlo SMART con OFICINAS TECNOLÓGICAS. 
        </p>
      </div>
    </section>
  
    <app-ficha-solucion-uno></app-ficha-solucion-uno>
  </article>
