<article  class = "container text-justify">
  <section class = "row">
    <div class = "col-12">
      <h1>¿Quienes somos?</h1>
      <br>
    </div>
  </section>

  <section class = "row">
    <div class = "col-12 col-lg-6">
      <h2>Misión</h2>
      <hr class = "linea_titulo">
      <p>
        Somos una organización dedicada a modernizar y eficientar la producción 
        y manejo documental de las empresas en Honduras mediante un soporte técnico 
        y un servicio al cliente de clase mundial, capaces de brindar soluciones a la 
        medida de cada cliente con conciencia verde.
      </p>
    </div>

    <div class = "col-12 col-lg-6">
      <h2>Visión</h2>
      <hr class = "linea_titulo">
      <p>
        Ser la primera opción en integración de tecnologías de oficina, aportando 
        a nuestros clientes un valor óptimo a nivel regional.
      </p>
    </div>
  </section>

  <section class = "row">
    <div class = "col-12">
      <h2>Nuestros valores</h2>
      <hr class = "linea_titulo">
      <div class = "container-fluid">
        <div class = "row">
          <div class = "col-12 col-sm-6 col-lg-4">
            <h3>ÉTICA</h3>
            <hr>
            <p>
              La empresa OFICINAS TECNOLÓGICA es una organización que opera mediante 
              un sistema ético y que busca siempre satisfacer al cliente en todos lo 
              necesario que contribuya al mejoramiento del servicio recibido.
            </p>
          </div>

          <div class = "col-12 col-sm-6 col-lg-4">
            <h3>COMPROMISO</h3>
            <hr>
            <p>
              Somos un equipo de trabajo comprometido con el cliente y el servicio 
              brindado, cumpliendo a cabalidad los requerimientos de los entes que 
              nos contratan. 
            </p>
          </div>

          <div class = "col-12 col-sm-6 col-lg-4">
            <h3>LEALTAD</h3>
            <hr>
            <p>
              En OFICINAS TECNOLÓGICAS, la lealtad es imprescindible en todos y cada 
              uno de nuestros colaboradores, razón que nos une como una familia.
            </p>
          </div>

          <div class = "col-12 col-sm-6 col-lg-4">
            <h3>PUNTUALIDAD</h3>
            <hr>
            <p>
              Somos una entidad que trabaja con base en el tiempo de nuestros clientes, 
              y por esta razón brindamos los servicios de manera eficiente y eficaz, 
              respondiendo de manera inmediata a cualquier necesidad de los consumidores 
              de nuestros servicios.
            </p>
          </div>

          <div class = "col-12 col-sm-6 col-lg-4">
            <h3>CALIDAD</h3>
            <hr>
            <p>
              Si una palabra puede describir nuestros servicios, esa es calidad. Contamos 
              con los más altos estándares de calidad, tanto en productos, como en talento 
              humano, buscando satisfacer al cliente de la mejor manera posible en el mercado 
              hondureño.
            </p>
          </div>

          <div class = "col-12 col-sm-6 col-lg-4">
            <h3>INTEGRIDAD</h3>
            <hr>
            <p>
              Somos una empresa integra y que desea siempre destacar por sus bondades y 
              trabajo en equipo.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
