<article class = "container-fluid text-justify">
  <section class = "row">
    <div class = "col-12">
      <h1>Software ERP</h1>
      <hr class = "linea_titulo">
      <p>
        Con este servicio podrá integrar los procesos de la empresa como ser 
        CONTABILIDAD, COMPRAS, SOPORTE TECNICO, COMPRAS,  etc. en una PLATAFORMA 
        UNICA obteniendo una trazabilidad , control y costeo más preciso.                
      </p>
    </div>
  </section>
  
  <app-ficha-solucion-uno></app-ficha-solucion-uno>
</article>