<article class = "container text-justify">
  <section class  = "row">
    <div class = "col-12">
      <h1>Outsourcing de RRHH tecnológico</h1>
      <br>
    </div>
  </section>

  <section class = "row">
    <div class = "col-12 col-lg-6">
      <h2>Soporte técnico</h2>
      <hr class = "linea_titulo">
      <p>
        Servicio técnico de informática. Un profesional en el area de informatica 
        capacitado para:
      </p>

      <ol>
        <li>Formateo e instalación de sistemas operativos.</li>
        <li>Instalación de antivirus.</li>
        <li>Mantenimiento preventivo y correctivo.</li>
        <li>Instalación y activación de programas ofimáticos.</li>
      </ol>
    </div>
  
    <div class = "col-12 col-lg-6">
      <h2>Desarrolladores</h2>
      <hr class = "linea_titulo">
      <p>
        Contamos con un equipo de desarrolladores con gran expertis en proyectos desde 
        “cero” o proyectos en ejecución .
        Las ideas de negocio serán plasmadas por nuestro equipo de desarrolladores.
      </p>

      <p>
        ¡NO LIMITE TUS IDEAS!
      </p>
    </div>
  </section>

  <app-ficha-solucion-dos></app-ficha-solucion-dos>
</article>
