<article class = "container-fluid text-justify">
  <section class = "row">
    <div class = "col-12">
      <h1>Inteligencia de negocio</h1>
      <br>
    </div>
  </section>

  <section class = "row">
    <div class = "col-12">
      <div class = "imagen">
        <img src="" alt="">
      </div>

      <h2>AGATA Intelligence</h2>
      <hr class = "linea_titulo">
      <p>
        AGATA intelligence consiste en un programa de desarrollo, configuración e 
        implementación de una serie de servicios orientados a mejorar la comunicación 
        con los usuarios así como la implementación de servicios de inteligencia artificial 
        aplicada.
      </p>

      <p>
        Actualmente se cuenta con servicios y componentes desarrollados para proveer 
        soluciones innovadoras de servicio al cliente, enfocadas a mejorar la experiencia 
        de los usuarios.   
      </p>
    </div>
  </section>
</article>
