<article class = "container text-justify">
  <section class = "row">
    <div class = "col-12">
      <h1>Tecnología de impresión</h1>
      <hr class =" linea_titulo">
    </div>
  </section>

  <section class = "row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6">
      <div class="tarjeta card mb-3">
        <div class = "imagen">
          <img id = "tresd" class="card-img-top" src="../../../../../assets/imagenes/Productos/Impresion/Tecnologia_de_impresion/3d.png" alt="Card image cap">
        </div>

        <div class="card-body">
          <h5 class="card-title">Impresión 3D</h5>
          <p class="card-text">
            La opuesta de la Impresión 3D es poner al alcance de las instituciones esta 
            tecnología para la aplicación en:
          </p> 

          <ul>
            <li>Salud</li>
            <li>Industria</li>
            <li>Educación</li>
            <li>Arquitectura</li>
            <li>Comercio</li>
          </ul>
                
          <p>
            Nuestras marcas de Impresoras 3D tienen la flexibilidad de procesar diversos 
            materiales de tal forma que tenemos como resultado la impresión de:
          </p>

          <ul>
            <li>Partes mecánicas</li>
            <li>Maquetas</li>
            <li>Prototipo</li>
            <li>Promocinales</li>
          </ul>
          <a [routerLink]="['/contacto']" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    </div>

    <div class = "col-12 col-sm-12 col-md-6 col-lg-6">
      <div class="tarjeta card mb-3">
        <div class = "imagen">
          <img id = "myq" class="card-img-top" src="../../../../../assets/imagenes/Productos/Impresion/Tecnologia_de_impresion/myq.png" alt="Card image cap">
        </div>

        <div class="card-body">
          <h5 class="card-title">MyQ</h5>
          <p class="card-text">
            MyQ es una aplicación basada en servidor que agiliza y asegura su gestión 
            de documentos. La aplicación embebida de Impresión y seguimiento aumenta 
            la eficiencia de la impresora y acelera el proceso de impresión: en vez de 
            enviar un documento a un dispositivo determinado, los usuarios lo envían al 
            servidor MyQ al que pueden acceder todos los dispositivos de la oficina. 
          </p>
          <a href="https://www.myq-solution.com/" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    </div>
  </section>
</article>
