<article class = "container-fluid text-justify">
  <section class  = "row">
    <div class = "col-12">
      <h1>Gestión de archivos digitalizados</h1>
      <br>
    </div>
  </section>

  <section class = "row">
    <div class = "col-12 col-lg-6">
      <div class = "imagen">
        <img src="../../../../../assets/imagenes/Soluciones/Saas/Gestion_de_archivos_digitalizados/gestion_de_documentos.jpg" alt="">
      </div>

      <h3>Gestíon documental (ECM)</h3>
      <hr class = "linea_titulo">
      <p>
        El objetivo de nuestra empresa es brindar soluciones integrales a nuestros 
        clientes, nuestro enfoque principal es conseguir un óptimo manejo de la 
        documentación e información que se utiliza en las organizaciones, ya que 
        en la actualidad las empresas con éxito son sólo aquellas que tienen la 
        información adecuada en el momento oportuno.
      </p>

      <p>
        A través de la Gestión Electrónica de Documentos, les presentamos la 
        última tecnología en software y hardware para organizar, buscar, recuperar 
        y transferir eficientemente los documentos e información de su organización. 
      </p>

      <p>
        Los problemas comunes que podemos resolver mediante la implementación de 
        nuestras soluciones son:
      </p>

      <ol>
        <li>Duplicación, traspapeleo y pérdida de documentos.</li>
        <li>Desorganización en el manejo de información.</li>
        <li>Inaccesibilidad a los documentos e información requerida.</li>
        <li>Inexistencia de seguridades y restricciones de acceso a los archivos, entre otros.</li>
      </ol>
    </div>
  
    <div class = "col-12 col-lg-6">
      <div class = "imagen_gestion">
        <img src="../../../../../assets/imagenes/Productos/Aplicacion_de_negocio/onbase.png" alt="">
      </div>

      <h3>Gestión de procesos empresariales (BPM)</h3>
      <hr class = "linea_titulo">
      <p>
        Sus procesos empresariales son únicos. OnBase se adapta a sus procesos y 
        requisitos empresariales, de manera que nunca tendrá que adaptar sus procesos 
        a OnBase.
      </p>

      <p>
        Con OnBase, las organizaciones disminuyen significativamente el tiempo de 
        procesamiento de documentos, incrementan la productividad del personal y 
        mejoran la entrada de datos, almacenamiento y precisión en la recuperación 
        de documentos. Un potente motor de flujo de trabajo y un sistema de 
        distribución de documentos posibilitan que las organizaciones puedan procesar 
        el trabajo con mayor rapidez y eficacia. Gracias a un conjunto intuitivo de 
        reglas y acciones de configuración interactiva, puede automatizar y optimizar 
        procesos clave sin la necesidad de llevar a cabo un costoso y lento desarrollo 
        de código.
      </p>
    </div>
  </section>

  <app-ficha-solucion-uno></app-ficha-solucion-uno>
</article>