h1 {
    text-align: center;
}

.linea_titulo {
    height: 2px;
}

hr {
    background-color: #34BA00;
}

.imagen {
    width: 100%;
    min-height: 250px;
    height: 400px;
    display: flex;
    align-items: center;
}

.imagen img {
    width: 100%;
}

.imagen_gestion {
    width: 100%;
    min-height: 250px;
    height: 400px;
    display: flex;
    align-items: center;
}

.imagen_gestion img {
    width: 60%;
    margin: auto;
}