<article class = "container-fluid text-justify">    
  <section class = "row">
    <div class = "col-12">
      <h1>Aplicaciones de negocio</h1>
      <br>
    </div>
  </section>

  <section class = "row">
    <div class = "col-12 col-lg-6">
      <div class = "imagen">
        <img src="../../../../assets/imagenes/Productos/Aplicacion_de_negocio/onbase.png" alt="">
      </div>

      <h2>ON BASE</h2>
      <hr class = "linea_titulo">
      <p>
        Esta es una solución vanguardista que combina la función integral de 
        administración de contenido (ECM), con  herramientas de Administración 
        de Procesos de Negocios (BPM), tanto para administrar como para procesar 
        información – convirtiéndola en una ventaja que permite la eficiencia e 
        inteligente toma de decisiones a nivel de toda la organización.
      </p>
    </div>

    <div class = "col-12 col-lg-6">
      <div class = "imagen">
        <img id = "odoo" src="../../../../assets/imagenes/Productos/Aplicacion_de_negocio/odoo.png" alt="">
      </div>

      <h2>ODOO</h2>
      <hr class = "linea_titulo">
        <p>
          El modelo de código abierto de Odoo nos ha permitido aprovechar los 
          conocimientos de miles de desarrolladores y expertos en el mundo empresarial 
          para construir cientos de aplicaciones en solo unos años.           
        </p>

        <p>
          Con bases tecnológicas potentes, la estructura de Odoo es única. Ofrece usabilidad de la 
          más alta calidad en todas las aplicaciones.
          Las mejoras en usabilidad realizadas en Odoo se implementarán directamente en todas 
          nuestras aplicaciones totalmente integradas.
          De esa manera, Odoo evoluciona mucho más rápido que cualquier otra solución.
        </p>
    </div>

    <div class = "col-12 col-lg-6">
      <div class = "imagen">
        <img src="../../../../assets/imagenes/Productos/Aplicacion_de_negocio/asterisk.png" alt="">
      </div>

      <h2>ASTERISK</h2>
      <hr class = "linea_titulo">
      <p>
        Asterisk es el líder mundial en plataformas de telefonía de código abierto. 
        Asterisk es un software que puede convertir un ordenador de propósito general 
        en un sofisticado servidor de comunicaciones VoIP.            
      </p>

      <p>
        Es un sistema de central IP utilizado por empresas de todos los tamaños para 
        mejorar su comunicación, incluyendo a Google, Yahoo, IBM, e incluso el Ejército de EE.UU.
      </p>

      <p>
        Actualmente las soluciones Open Source representan el 18% de las centralitas 
        telefónicas instaladas en todo el mundo (según el Eastern Management Group) y 
        Asterisk  es el líder en el mercado de código abierto de centralitas VoIP (VoIP PBX).
      </p>
    </div>

    <div class = "col-12 col-lg-6">
      <div class = "imagen">
        <img src="" alt="">
      </div>

      <h2>VDP CONVERTOR (Data Variable)</h2>
      <hr class = "linea_titulo">
      <p>
        La impresión de Datos Variables (VDP) es una forma de impresión digital, que 
        incluye impresión bajo demanda, donde elementos tales como texto, gráficos e 
        imágenes pueden ser alterados de una parte impresa a otra, sin parar o ralentizar 
        el proceso de impresión y utilizando informaciones de una base de datos o archivo externo.
      </p>
    </div>

    <div class = "col-12">
      <div class = "imagen">
        <img src="../../../../assets/imagenes/Productos/Aplicacion_de_negocio/pelco.png" alt="">
        <img src="../../../../assets/imagenes/Productos/Aplicacion_de_negocio/honeywell.png" alt="">
        <img src="../../../../assets/imagenes/Productos/Aplicacion_de_negocio/sony.png" alt="">
      </div>

      <h2>Seguridad electrónica</h2>
      <hr class = "linea_titulo">
      <p>
        Contamos con marcas de calidad mundial como ser PELCO, HONEYWELL, SONY entre muchas más. 
      </p>

      <p>
        Soluciones a la medida desde un kit pyme hasta integraciones para reconocimiento facial 
        en tiempo real, identificación de placas de automóviles en circulación , trazabilidad 
        y trafico de personas en puntos de venta.
      </p>
    </div>
  </section>
</article>
