<article class = "container text-justify">
  <section class = "row">
    <div class = "col-12">
      <h1>Plantas telefónicas SIP</h1>
      <hr class = "linea_titulo">
      <p>
        Hasta hace un par de años contar con una planta telefónica SIP tenían un 
        precio inaccesible para el promedio de empresas, con esta SOLUCION pueden 
        contar con toda una plataforma de comunicación donde integraran computadoras 
        de escritorio y portátiles, dispositivos móviles, teléfonos IP y otros 
        dispositivos, logrando un control y optimizando el uso del recurso.                
      </p>
    </div>
  </section>
  
  <app-ficha-solucion-uno></app-ficha-solucion-uno>
</article>
