<article class = "container text-justify">
  <section class = "row">
    <div class = "col-12">
      <div class = "img-fluid">
        <img src="../../../../../assets/imagenes/Soluciones/Saas/Plantas_ip/planta_ip.png" alt="">
      </div>

      <h1>Plantas telefónicas SIP</h1>
      <hr class = "linea_titulo">
      <p>
        Hasta hace un par de años contar con una planta telefónica SIP tenían un 
        precio inaccesible para el promedio de empresas, con esta SOLUCION pueden 
        contar con toda una plataforma de comunicación donde integraran computadoras 
        de escritorio y portátiles, dispositivos móviles, teléfonos IP y otros 
        dispositivos, logrando un control y optimizando el uso del recurso.                
      </p>

      <p>
        Características:
      </p>

      <ul>
        <li>Manejo de privilegios de llamadas salientes.</li>
        <li>Transferencia de llamadas.</li>
        <li>Conferencia de llamadas.</li>
        <li>Captura de llamadas.</li>
        <li>Desvío interno entre extensiones.</li>
        <li>Manejo de llamadas por medio de interacción automatizada con el  usuario (IVR).</li>
        <li>Manejo de llamadas por colas, (ACDs).</li>
        <li>Manejo de llamadas por horario y por calendario.</li>
        <li>Grabación de llamadas para QT coaching.</li>
        <li>Programación de grabaciones por extensión.</li>
        <li>Reporte de grabaciones.</li>
        <li>Reportes de entrada y salida de llamadas.</li>
        <li>Reporte de ACds.</li>
        <li>Música en espera.</li>
        <li>Llamadas salientes.</li>
        <li>Uso de extensiones de oficinas.</li>
        <li>Terminales de agentes utilizando softphone.</li>
        <li>Supervisión en Vivo de llamadas.</li>
        <li>Desvió de celulares en caso de extensiones de oficinas.</li>
        <li>Correo de voz.</li>
        <li>Perfiles para delimitar las llamadas salientes, por extensión y por pin.</li>
      </ul>

      <p>
        Características adicionales:
      </p>

      <ul>
        <li>Configuración de extensiones móviles a través del celular.</li>
        <li>Video conferencia.</li>
        <li>Salón de conferencia.</li>
        <li>Lista negra.</li>
        <li>Integración con otras centrales por medio de VoIP.</li>
        <li>Correo de voz a correo electrónico.</li>
      </ul>
    </div>
  </section>
  
  <app-ficha-solucion-uno></app-ficha-solucion-uno>
</article>
