<article class = "container text-justify">
  <section class = "row">
    <div class = "col-12">
      <h1>Impresión como servicio (PRTaaS)</h1>
      <hr class = "linea_titulo">
      <p>
        Confía a OFICINAS TECNOLÓGICAS los procesos impresión y todo lo relacionado con la 
        digitalización, escaneo y administración de información documental. Contando con el 
        mejor equipo físico, brindamos un servicio de calidad mundial a todos nuestros clientes.                 
      </p>

      <p>
        Somos especialistas en el novedoso esquema de impresión como servicio PRTaaS, 
        lo cual se lleva a cabo por medio del arrendamiento y mantenimiento de productos 
        como ser:
      </p>

      <ul>
        <li>Impresoras.</li>
        <li>Escáneres.</li>
        <li>Fotocopiadoras.</li>
        <li>Multifuncionales.</li>
        <li>Y más.</li>
      </ul>

      <p>
        Nuestras soluciones de impresión ofrecen funciones avanzadas de tecnología 
        comodidad y flexibilidad en el trabajo, de la mano de nuestras representadas: 
        KYOCERA y EPSON.      
      </p>
    </div>
  </section>

  <app-ficha-solucion-uno></app-ficha-solucion-uno>
</article>