<article class = "container text-justify">
  <section class = "row">
    <div class = "col-12">
      <h1>Impresoras e impresión</h1>
      <br>
    </div>
  </section>

  <section class = "row">
    <div class = "col-12">
      <div class = "row">
        <div class = "col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="tarjeta card mb-3">
            <div class = "imagen">
                <img id = "kyo" class="card-img-top" src="../../../../assets/imagenes/kyocera.png" alt="Card image cap">
            </div>
            
            <div class="card-body">
              <h5 class="card-title">KYOCERA</h5>
              <p class="card-text">
                KYOCERA Document Solutions America ofrece una galardonada gama de tecnología 
                para dispositivos y soluciones integradas de mejora de procesos de negocios 
                que funcionan juntas sin inconveniente. Nuestras soluciones, que comprenden 
                desde equipos multifuncionales e impresoras de escritorio hasta sólidos 
                equipos multifuncionales color y blanco y negro, y aplicaciones de negocios, 
                transforman los flujos de trabajo de documentos y datos, que sin ellas 
                serían complejos, en procesos simples y eficientes.
              </p>
              <a [routerLink]="['/contacto']" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>

        <div class = "col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="tarjeta card mb-3">
            <div class = "imagen">
                <img class="card-img-top" src="../../../../assets/imagenes/epson.png" alt="Card image cap">
            </div>

            <div class="card-body">
              <h5 class="card-title">EPSON</h5>
              <p class="card-text">
                ¿Piensas que la impresión de inyección de tinta es solo para el hogar? 
                ¡No estés tan seguro! En Epson, hemos optimizado nuestra tecnología 
                única de cabezal de impresión para las aplicaciones empresariales. 
                Aunque en el pasado la inyección de tinta se consideraba apropiada 
                únicamente para su uso doméstico, su eficiencia, sencillez y reducido 
                coste ofrecen a las empresas una serie de ventajas con respecto al 
                láser. Muchas de estas ventajas se deben a la PrecisionCore, una 
                tecnología escalable que se utiliza en sistemas industriales como 
                prensas de etiquetas a gran escala. Los modelos de la serie WorkForce 
                Pro incluyen ahora sus ventajas, como la fiabilidad, la reducción 
                del desperdicio y el reducido impacto medioambiental. Descubre cómo 
                estas ventajas pueden ahorrarle dinero a tu empresa, aumentar la 
                productividad y reducir el consumo de energía.
              </p>
              <a [routerLink]="['/contacto']" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>

        <div class = "col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="tarjeta card mb-3">
            <div class = "imagen">
              <img id = "tresd" class="card-img-top" src="../../../../assets/imagenes/3d.png" alt="Card image cap">
            </div>

            <div class="card-body">
              <h5 class="card-title">Impresión 3D</h5>
              <p class="card-text">
                La opuesta de la Impresión 3D es poner al alcance de las instituciones esta 
                tecnología para la aplicación en:
              </p> 

              <ul>
                <li>Salud</li>
                <li>Industria</li>
                <li>Educación</li>
                <li>Arquitectura</li>
                <li>Comercio</li>
              </ul>
                
              <p>
                Nuestras marcas de Impresoras 3D tienen la flexibilidad de procesar diversos 
                materiales de tal forma que tenemos como resultado la impresión de:
              </p>

              <ul>
                <li>Partes mecánicas</li>
                <li>Maquetas</li>
                <li>Prototipo</li>
                <li>Promocinales</li>
              </ul>
              <a [routerLink]="['/contacto']" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>

        <div class = "col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="tarjeta card mb-3">
            <div class = "imagen">
              <img id = "myq" class="card-img-top" src="../../../../assets/imagenes/myq.png" alt="Card image cap">
            </div>

            <div class="card-body">
              <h5 class="card-title">MyQ</h5>
              <p class="card-text">
                MyQ es una aplicación basada en servidor que agiliza y asegura su gestión 
                de documentos. La aplicación embebida de Impresión y seguimiento aumenta 
                la eficiencia de la impresora y acelera el proceso de impresión: en vez de 
                enviar un documento a un dispositivo determinado, los usuarios lo envían al 
                servidor MyQ al que pueden acceder todos los dispositivos de la oficina. 
              </p>
              <a href="https://www.myq-solution.com/" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>