h1 {
    text-align: center;
}

.tarjeta {
    height: 824px;
}

.imagen {
    height: 303px;
    display: flex;
    align-items: center;
}

#kyo {
    width: 97.5%;
    margin: auto;
}

#myq {
    width: 98%;
    margin: auto;
}

#tresd {

}