<article class = "container">
  <section class = "row">
    <div class = "col-12">
      <h1>HEALTH CARE</h1>
      <br>
    </div>
  </section>

  <section class = "row">
    <div class = "col-12">
      <h1>STATE AND GOVERNMENT</h1>
      <br>
    </div>
  </section>

  <section class = "row">
    <div class = "col-12">
      <h1>ENERGY AND UTILITIES</h1>
      <br>
    </div>
  </section>

  <section class = "row">
    <div class = "col-12">
      <h1>GOVERNANCE</h1>
      <br>
    </div>
  </section>
</article>
