<section class = "row">
  <div class = "col-12">
    <div class="alert alert-info" role="alert">
      <p>
        Nuestro equipo de Ingenieros y Consultores tomaran su requerimiento y diseñaran una 
        solución de cumpla con el requerimiento técnico y que financieramente se adapte a 
        su institución.
      </p>
    
      <p>
        ¿Por qué tomar ésta opción como un servicio?
      </p>
    
      <ul>
        <li>Es un gasto operativo deducible del Impuesto Sobre la Renta (ISR).</li>
        <li>No hay pasivo laboral.</li>
        <li>El cliente no invierte en proceso de reclutamiento.</li>
        <li>Contratación bajo demanda, es decir por proyecto, tareas, por jornadas o periodos de tiempo.</li>
        <li>Su equipo de trabajo se enfoca en la visión de la empresa y no desatiende.</li>
        <li>OFICINAS TECNOLOGICAS respalda  la operatividad de este servicio con recurso humano capacitado y certificado.</li>
      </ul>
    
      <p id = "contacto">CONTÁCTANOS Y PIDE QUE UN CONSULTOR LE VISITE.</p>
    
      <a class = "btn btn-primary" [routerLink]="['/contacto']">Contáctanos</a>
    </div>
  </div>
</section>
