<article class = "container text-justify">
  <section class = "row">
    <div class = "col-12">
      <h1>Automatización de medios digitales</h1>
      <hr class = "linea_titulo">
      <p>
        Nuestra plataforma para manejo de experiencia de usuario Omnicanal cuenta con 
        la capacidad para interconectar las redes sociales y canales de comunicación 
        escrita mayormente utilizadas por los clientes como son: Facebook, Twitter, 
        E-mail y Chats de empresas web y app.                  
      </p>

      <p>
        Una vez implementada esta solución, centraliza todas las comunicaciones de 
        los clientes y a partir de ahí son tratadas como casos asignándoles un ticket 
        de servicio.
      </p>

      <p>
        Se cuenta con toda la trazabilidad con respecto a tiempos de respuesta e 
        interacción por caso y por grupos de servicios, por medio de reportes y 
        tableros de indicadores que muestran los volúmenes de tráfico por canal 
        de comunicación, por lo cual cada canal tiene mayor demanda, y de esa 
        manera somos más efectivos.
      </p>

      <p>
        Áreas de aplicación:
      </p>

      <ul>
        <li>Para negocios.
          <p>
            Automatización de tareas realizadas por seres humanos 
            que conllevan descubrir información y brindar servicio al cliente en:
          </p> 

          <ul>
            <li>Brindar horarios, direcciones e información.</li>
            <li>Programación de citas o reservaciones.</li>
            <li>Seguimiento y recordatorios de citas.</li>
            <li>Sistema de toma de pedidos.</li>
            <li>Servicios de información personalizada (Virtual Assitant).</li>
            <li>Reclamos.</li>
            <li>Quejas, etc.</li>
          </ul>
        </li>

        <li>Para finanzas.
          <p>
            En el área financiera, existe una amplia gama de servicios que se 
            pueden desplegar, desde los orientados al servicio al cliente como 
            los anteriormente mencionados así como servicios especializados de gestión en:
          </p> 

          <ul>
            <li>Reporte de extravío o robo.</li>
            <li>Consultas de servicios específicos.</li>
            <li>Consultas de estados de transacciones o trámites.</li>
            <li>Pre-calificación de clientes.</li>
            <li>Encuestas para perfilar a usuarios y clientes.</li>
            <li>Análisis de comportamiento de transacciones de los clientes para determinar riesgos</li>
            <li>Análisis predictivos para brindar servicios de asesoría al cliente.</li>
            <li>Base de conocimientos procesada para brindar información inmediata a ejecutivos de servicio.</li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
  
  <app-ficha-solucion-uno></app-ficha-solucion-uno>
</article>
