<article class = "container text-justify">
  <section class = "row">
    <div class = "col-12">
      <h1>Automatización de medios digitales</h1>
      <hr class = "linea_titulo">
      <p>
        Nuestra plataforma para manejo de experiencia de usuario Omnicanal cuenta con 
        el la capacidad para interconectar las redes sociales y canales de comunicación 
        escrita mayormente utilizadas por los clientes como son: Facebook, Twitter, 
        E-mail y Chats de empresas web y app.                  
      </p>

      <p>
        Una vez implementada esta solución, centraliza todas las comunicaciones de 
        los clientes y a partir de ahí son tratadas como casos asignándoles un ticket 
        de servicio.
      </p>

      <p>
        Se cuenta con toda la trazabilidad con respecto a tiempos de respuesta e 
        interacción por caso y por grupos de servicios, por medio de reportes y 
        tableros de indicadores que muestran los volúmenes de tráfico por canal 
        de comunicación, por cual canal somos más efectivos, por cual canal se 
        tiene mayor demanda, etc.
      </p>
    </div>
  </section>
  
  <app-ficha-solucion-uno></app-ficha-solucion-uno>
</article>
