<article class = "container text-justify">
  <section class = "row">
    <div class = "col-12">
      <div class = "imagen">
        <img class = "img-fluid" src="../../../../assets/imagenes/Soluciones/Mantenimiento_de_parque_de_los_equipos_electronicos/mantenimiento.png" alt="">
      </div>

      <h1>Mantenimiento de parque de los equipos electrónicos</h1>
      <hr class = "linea_titulo">
      <p>
        Brindamos un servicio integral de mantenimiento preventivo y correctivo 
        de equipos de escritorio, portátiles, servidores, impresoras y equipos 
        activos de red. Podrá contar con asistencia remota en tiempo real y/o 
        asistencia personalizada en su empresa.                
      </p>

      <p>
        Nuestro personal altamente capacitado, realizará el análisis y mantenimiento 
        respectivo para cada uno de sus equipos, previniendo cualquier daño futuro y 
        corrigiendo daños actuales. Cada uno de nuestros técnicos cuenta con las 
        herramientas especializadas para brindarle un servicio de calidad inmediato.
      </p>

      <p>
        Los mantenimientos son fundamentales para garantizar el buen funcionamiento 
        de los sistemas, es por eso que contamos con personal y herramientas 
        calificadas para la ejecución de estas actividades.
      </p>

      <p>
        Prestamos servicios de Mantenimiento preventivo, el cual es definido de 
        acuerdo a un cronograma de actividades, buscando alargar la vida útil 
        de los sistemas de Video Vigilancia. También prestamos servicios de 
        Mantenimiento Correctivo ante fallas que se puedan presentar con tiempos 
        de respuesta de dos horas laborales.
      </p>
    </div>
  </section>

  <app-ficha-solucion-uno></app-ficha-solucion-uno>
</article>