<article class = "container-fluid text-justify">
  <section class = "row">
    <div class = "col-12">
      <h1>Mantenimiento de parque de los equipos electrónicos</h1>
      <hr class = "linea_titulo">
      <p>
        Brindamos un servicio integral de mantenimiento preventivo y correctivo 
        de equipos de escritorio, portátiles, servidores, impresoras y equipos 
        activos de red. Podrá contar con asistencia remota en tiempo real y/o 
        asistencia personalizada en su empresa.                
      </p>

      <p>
        Nuestro personal altamente capacitado, realizará el análisis y mantenimiento 
        respectivo para cada uno de sus equipos, previniendo cualquier daño futuro y 
        corrigiendo daños actuales. Cada uno de nuestros técnicos cuenta con las 
        herramientas especializadas para brindarle un servicio de calidad inmediato.
      </p>
    </div>
  </section>

  <app-ficha-solucion-uno></app-ficha-solucion-uno>
</article>