<article class = "container-fluid text-justify">
  <section class = "row">
    <div class = "col-12">
      <h1>Digitalización de archivos históricos</h1>
      <hr class = "linea_titulo">
      <p>
        Tenemos recurso humano y equipos con tecnología de punta, especializados en 
        digitalización, los cuales nos permite efectuar un trabajo de excelente 
        calidad de toda clase de documentos y publicarlos en DVDs o en un servidor 
        Web para acceso a la documentación vía Internet.                
      </p>

      <p>Beneficios:</p>       
      <ol>
        <li>Evitar la pérdida de documentos.</li>
        <li>Evitar la pérdida de tiempo debido a que varias personas tengan que recuperar los documentos desde diferentes lugares y departamentos.</li>
        <li>Accesar a la información y los documentos de manera segura y estructurada, al poder definir diferentes permisos de acceso a los datos y documentos dentro del sistema de gestión documental.</li>
        <li>Indexación de los metadatos para su fácil recuperación mediante búsquedas personalizadas.</li>
      </ol>
    </div>
  </section>
  
  <app-ficha-solucion-uno></app-ficha-solucion-uno>
</article>